[submodule "dbg-graph-null"]
	path = dbg-graph-null
	url = git@github.com:ged-lab/nullgraph.git

[submodule "khmer"]
	path = khmer
	url = https://github.com/ged-lab/khmer
[submodule "macmanes"]
	path = macmanes
	url = git@github.com:macmanes/error_correction.git
